.overide-collection {
  border-radius: 0 !important;
  border: solid 1px #363636 !important;
  padding: 0 !important;
  
  .collection-item {
    background-color: transparent !important;
    border-bottom: 1px solid #363636 !important;

    span {
      display: flex;
      align-items: center;

      i {
        margin-right: 10px;
      }
    }
  }

  .collection-item:hover {
    background-color: #393939 !important;
  }

  .loading {
    span {
      i {
        animation: LOADING_ANIMATION .5s infinite;
      }
    }
  }
}

.sub {
  margin: 0px !important;
  .collection-item {
    span {
      padding-left: 10px !important;
    }
  }
}

.sub-2 {
  margin: 0px !important;
  .collection-item {
    span {
      padding-left: 20px !important;
    }
  }
}

@keyframes LOADING_ANIMATION {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}